body {
    background-color: black;
    font: arial;
    color: white;
}

h1 {
    color: grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    border-radius: 25px;
    color: black;
    width: 300px;
    padding: 20px;
}

#highlight {
    background: yellow;
}
